<!--
author: Edgar
大体框架， 社区界面的显示
-->

{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>    {% load static %}

    <meta charset="UTF-8">
    {% block forward_dependecies %}
    {% endblock %}
    <title>{% block title %}社区{% endblock %}</title>
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="container" style="margin-top: 20px">
                    {% for post in posts %}
                        <li class="list-group-item" style="margin-top:20px;width:66.7%">
                            <a style="font-size: 20px" class="card-link" href="/community/post/{{ post.id }}">
                                {{ post }}
                            </a>
                            <span  class="layui-badge-rim">{{ post.course }}</span>
                            <p style="margin-top: 10px">{{ post.content }}</p>
                            {% load user_related %}
                        <i class="layui-icon layui-icon-user">  {{ post.author_user_id | getNameFromId }}</i>
                        </li>
                    {% endfor %}

                    {% if total > 10 %}
                        <div class="row">
                        <div class="mt-2 col-7">
                            <div id="page"  style="float: right; margin-right: 20px"></div>
                        </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-2 offset-1">
                <p style="margin-top: 20px; font-size: 20px">热门帖子一览</p>
                <div id="hot">
                    <i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop text-center"></i>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
</body>
{% block back_dependencies %}
    <script src="{% static 'layui/layui.js' %}"></script>
    <script>
        layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage
                    , layer = layui.layer;

                //总页数低于页码总数
                laypage.render({
                    elem: 'page'
                    , count:{{total}} //数据总数
                    , curr: {{ curr_page }}
                    , jump: function (obj, first) {
                        if (!first) {
                            location.href = "?page=" + obj.curr;
                        }
                    }
                })
            }
        );
    </script>
    <script>
        $.ajax({
            type: "GET",
            url: "get_hot",
            success: res => {
                let html = "";
                if (res.data.length === 0) {
                    html = "暂时没有任何帖子"
                } else {
                    html = res.data.map((item, index) => `<p style="margin-top: 10px"><a href="post/${item.id}">${index + 1}.  ${item.topic}</a></p>`)
                }
                $("#hot").html(html)
            },
            error: err => {
                console.log(err)
            }
        })
    </script>
    <style>
        a:hover {
            text-decoration: none;
            text-underline: none;
        }
    </style>
{% endblock %}
</html>
