<!--
author: ForDemain
-->
{% extends 'base.html' %} {# 课程的主界面 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/coursedes.css' %}">
    {% block forward_dependecies %}{# 用来加载依赖文件 #}
        <script>
        function jump(){
        url = "{% url 'user:login' %}?next=" + window.location.pathname;//此处拼接内容
        window.location.href = url;
        }
        </script>
    {% endblock %}

    <title>{% block title %}课程信息{% endblock %}</title>
</head>
<body>
{% block content %}
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>课程信息</legend>
    </fieldset>
    <table class="layui-table" lay-size="lg">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>属性</th>
            <th>详细信息</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>课程名称</td>
            <td>{{ course.name }}</td>
        </tr>
        <tr>
            <td>开设学院</td>
            <td>{{ school }}</td>
        </tr>
        <tr>
            <td>课程类型</td>
            <td>{{ type }}</td>
        </tr>
        <tr>
            <td>课程信息</td>
            <td>{{ des }}</td>
        </tr>
        <tr>
            <td>任课老师</td>
            {% if flag == 0 %}
                <td>暂无老师</td>
            {% else %}
                <td>{% for t in teacherList %}
                    {{ t.name }}&nbsp;&nbsp;
                {% endfor %}
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>评价列表</legend>
    </fieldset>

    {% for i in comments %}
    <div class="comment">
        <div class="imgdiv">
            {% if i.image_path == 0 %}
                <img class="imgcss"  src="{% static 'images/headsculpture.png' %}">
            {% else %}
                <img class="imgcss"  src="{{i.image_path}}">
            {% endif %}
        </div>
        <div class="conmment_details">
            <div >
                <span class="comment_name">{{ i.user_name }}</span>
                <span class="comment_time">{{ i.date | date:"Y-m-d" }}</span>
            </div>
            <div class="comment_content" >{{ i.com }}
            </div>
        </div>
    </div>
    {% endfor %}
    {% csrf_token %}

    {% if userflag == 1 %}
    <div id='inputbox' class="box">
        <form action="{% url 'course:coursedes' course.pk %}" method="post">
            {% csrf_token %}
         <div style="margin-left: -110px;">
          <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
            <textarea class="layui-textarea" placeholder="在这里可以留下您的评论"
                      id="comment" name="comment"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn">立即提交</button>
            </div>
        </div>
         </div>
    {% else %}
        <button type="button" class="layui-btn-primary layui-btn" onclick="jump()" style="float:right;margin-top: 10px;"><span>点击此处登录后评价</span></button>
    {% endif %}
</form>
</div>
{% endblock %}
</body>
</html>