<!--
author: ForDemain
-->
{% extends 'base.html' %} {# 课程详细信息界面 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% block forward_dependecies %}{# 用来加载依赖文件 #}
        <link rel="stylesheet" href="{% static 'css/details.css' %}">
    {% endblock %}
    <title>{% block title %}详细信息{% endblock %}</title>
</head>
<br>

{% block content %}
    {% csrf_token %}
    <div id="box">
        <dl class="row">
            <dt data-type="1">课程类别：</dt>
            <dd data-type="1">必修</dd>
            <dd data-type="1">选修</dd>
            <dd data-type="1">实验</dd>
            <dd data-type="1">其他</dd>

        </dl>
        <dl class="row">
            <dt data-type="2">开设学院：</dt>
            <dd data-type="2">电子信息与电气工程学院</dd>
            <dd data-type="2">机械与动力工程学院</dd>
            <dd data-type="2">船舶海洋与建筑工程学院</dd>
            <dd data-type="2">生物医学工程学院</dd>
            <dd data-type="2">航空航天学院</dd>
            <dd data-type="2">数学科学院</dd>
            <dd data-type="2">物理与天文学院</dd>
            <dd data-type="2">化学化工学院</dd>
            <dd data-type="2">致远学院</dd>
            <dd data-type="2">医学院</dd>
            <dd data-type="2">安泰经济与管理学院</dd>
            <dd data-type="2">人文学院</dd>
            <dd data-type="2">材料科学与工程学院</dd>
            <dd data-type="2">海洋学院</dd>
            <dd data-type="2">药学院</dd>
            <dd data-type="2">生命科学技术学院</dd>
            <dd data-type="2">农业与生物学院</dd>
            <dd data-type="2">凯原法学院</dd>
            <dd data-type="2">外国语学院</dd>
            <dd data-type="2">体育系</dd>
            <dd data-type="2">马克思主义学院</dd>
            <dd data-type="2">国际与公共事务学院</dd>
            <dd data-type="2">上海高级金融学院</dd>
            <dd data-type="2">巴黎高科卓越工程师学院</dd>
        </dl>
        <dl class="select row">
            <dt>已选条件：</dt>
            {% if Type == "0" %}
                <p></p>
            {% else %}
                {% if Type == "CO" %}
                    <chosen>必修</chosen>
                {% else %}
                    {% if Type == "El" %}
                        <chosen>必修</chosen>
                    {% else %}
                        {% if Type == "Ex" %}
                            <chosen>实验</chosen>
                        {% else %}
                            <chosen>其他</chosen>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if School == "0" %}
                <p></p>
            {% else %}
                <chosen>{{ School }}</chosen>
            {% endif %}
        </dl>
    </div>


    {% block back_dependecies %}{# 用来加载依赖文件 #}
        <script>
            function jump2() {
                url = "/course/";//此处拼接内容
                window.location.href = url;
            }
        </script>
    {% endblock %}

    <button class="layui-btn layui-btn-primary layui-btn-lg" type="button" onclick="jump2()" style="margin-left:45%;">
        <span>返回课程界面</span></button>
    <!--<div class="col-5 m-auto" >-->
    {% for i in list %}
        <div class="course" onclick="window.location.href= '/course/coursedes/{{ i.pk }}'">
            <div class="form-inline">
                <p style="margin-top: 25px">&nbsp;&nbsp;&nbsp;&nbsp; 课程名:&nbsp;</p><label for="name"
                                                                                          style="margin-top: 10px;">{{ i.name }}</label>
                <!--</div>
                <div class="form-inline">-->
                <p style="margin-top: 25px">&nbsp;&nbsp;&nbsp;&nbsp;开设学院：&nbsp;</p><label for="name"
                                                                                          style="margin-top: 10px;"
                                                                                          style="margin-top: 10px;">{{ i.school }}</label>
                <!--</div>
                <div class="form-inline">-->
                <p style="margin-top: 25px">&nbsp;&nbsp;&nbsp;&nbsp;任课老师:&nbsp;</p><label for="name"
                                                                                          style="margin-top: 10px;">
                {% for a in i.teacher %}
                    {{ a }}
                {% endfor %}
            </label>
            </div>
        </div>
    {% endfor %}
    </form>
    <!--</div>-->
    <!-- "total_num":总页码数,"now_page"：当前页码-->
    {% if count > 10 %}
        <div id="page" style="float:right;margin-top:5px;margin-bottom: 5px"></div>
    {% endif %}
{% endblock %}
</body>
{% block back_dependencies %}
    <script>
        layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage
                    , layer = layui.layer;

                //总页数低于页码总数
                laypage.render({
                    elem: 'page'
                    , count:{{ count }}//数据总数
                    , curr: {{ now_page }}
                    , jump: function (obj, first) {
                        if (!first) {
                            location.href = obj.curr;
                        }
                    }
                })
            }
        );
    </script>
{% endblock %}
</html>