<!--
author: Edgar
用户的个人信息界面共有的界面
TODO: 还需要其他的显示内容？ 如何美化？
-->
{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row mt-3 ">
            <div class="col-2">
                <nav class="nav navbar-left">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item pt-4">
                            {% url 'user:profile' as profile_url %}
                            {% if request.path == profile_url %}
                                <a class="nav-link" href="{% url 'user:profile' %}">基本资料</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'user:profile' %}">基本资料</a>
                            {% endif %}
                        </li>

                        <li class="nav-item pt-4">
                            {% url 'user:history' as history %}
                            {% if request.path == history %}
                                <a class="nav-link" href="{% url 'user:history' %}">发帖记录</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'user:history' %}">发帖记录</a>
                            {% endif %}
                        </li>

                        <li class="nav-item pt-4">
                            {% url 'user:file' as file %}
                            {% if request.path == file %}
                                <a class="nav-link" href="{% url 'user:file' %}">我的文件</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'user:file' %}">我的文件</a>
                            {% endif %}
                        </li>

                        <li class="nav-item pt-4">
                            {% url 'user:resetpwd' as resetpwd %}
                            {% if request.path ==  resetpwd %}
                                <a class="nav-link" href="{% url 'user:resetpwd' %}">修改密码</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'user:resetpwd' %}">修改密码</a>
                            {% endif %}
                        </li>


                    </ul>
                </nav>
            </div>
            <div class="col-10 border-left">
                {% block detail %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>