<!--
author: Edgar
用户的个人信息界面共有的界面
-->
{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block forward_dependecies %}
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-2">
                <ul role="menubar" class="el-menu-vertical-demo el-menu">
                    {% url 'user:profile' as profile_url %}
                    {% if request.path == profile_url %}
                        <li class="el-menu-item is-active" style="padding-left: 20px;">
                        <span style="font-size: 16px"><i class="el-icon-user"></i>
                            <a class="card-link" href="{% url 'user:profile' %}">基本资料</a>
                            </span>
                            {% else %}
                        <li class="el-menu-item" style="padding-left: 20px;">
                        <span style="font-size: 16px"><i class="el-icon-user"></i>
                            <a class="card-link" style="color: #909399" href="{% url 'user:profile' %}">基本资料</a>
                            </span>
                    {% endif %}


                    </li>
                    {% url 'user:history' as history %}
                    {% if request.path == history %}
                        <li class="el-menu-item is-active" style="padding-left: 20px;">
                         <span style="font-size: 16px"> <i class="el-icon-menu"></i>
                            <a class="card-link" href="{% url 'user:history' %}">发帖记录</a>
                        </span>
                            {% else %}
                        <li class="el-menu-item" style="padding-left: 20px;">
                        <span style="font-size: 16px"> <i class="el-icon-menu"></i>
                            <a class="card-link" style="color: #909399" href="{% url 'user:history' %}">发帖记录</a>
                        </span>
                    {% endif %}

                    </li>
                    {% url 'user:file' as file %}
                    {% if request.path == file %}
                        <li class="el-menu-item is-active" style="padding-left: 20px;">
                         <span style="font-size: 16px">     <i class="el-icon-files"></i>
                            <a class="card-link" href="{% url 'user:file' %}">我的文件</a>
                        </span></li>
                            {% else %}
                        <li class="el-menu-item " style="padding-left: 20px;">
                         <span style="font-size: 16px">     <i class="el-icon-files"></i>
                            <a class="card-link" style="color: #909399" href="{% url 'user:file' %}">我的文件</a>
                        </span></li>
                    {% endif %}


                    {% url 'user:setquestion' as setquestion %}
                        {% if request.path ==  setquestion %}
                        <li class="el-menu-item is-active" style="padding-left: 20px;">
                         <span style="font-size: 16px"> <i class="el-icon-setting"></i>
                            <a class="card-link" href="{% url 'user:setquestion' %}">设置密保</a>
                       </span></li>
                            {% else %}
                        <li class="el-menu-item " style="padding-left: 20px;">
                         <span style="font-size: 16px"> <i class="el-icon-setting"></i>
                            <a class="card-link" style="color: #909399" href="{% url 'user:setquestion' %}">设置密保</a>
                       </span></li>
                    {% endif %}

                {% url 'user:upload' as upload %}
                    {% if request.path == upload %}
                        <li class="el-menu-item is-active" style="padding-left: 20px;">
                         <span style="font-size: 16px">     <i class="el-icon-upload"></i>
                            <a class="card-link" href="{% url 'user:upload' %}">上传文件</a>
                        </span></li>
                            {% else %}
                        <li class="el-menu-item " style="padding-left: 20px;">
                         <span style="font-size: 16px">     <i class="el-icon-upload"></i>
                            <a class="card-link" style="color: #909399" href="{% url 'user:upload' %}">上传文件</a>
                        </span></li>
                    {% endif %}

                    {% url 'user:resetpwd' as resetpwd %}
                    {% if request.path ==  resetpwd %}
                        <li class="el-menu-item is-active" style="padding-left: 20px;">
                         <span style="font-size: 16px"> <i class="el-icon-setting"></i>
                            <a class="card-link" href="{% url 'user:resetpwd' %}">修改密码</a>
                       </span></li>
                            {% else %}
                        <li class="el-menu-item " style="padding-left: 20px;">
                         <span style="font-size: 16px"> <i class="el-icon-setting"></i>
                            <a class="card-link" style="color: #909399" href="{% url 'user:resetpwd' %}">修改密码</a>
                       </span></li>
                    {% endif %}

                    {% url 'user:notice' as notice %}
                    {% if request.path ==  notice %}
                        <li class="el-menu-item is-active" style="padding-left: 20px;">
                         <span style="font-size: 16px"> <i class="el-icon-bell"></i>
                            <a class="card-link" href="{% url 'user:notice' %}">消息通知</a>
                       </span></li>
                            {% else %}
                        <li class="el-menu-item " style="padding-left: 20px;">
                         <span style="font-size: 16px"> <i class="el-icon-bell"></i>
                            <a class="card-link" style="color: #909399" href="{% url 'user:notice' %}">消息通知</a>
                       </span></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-10">
                {% block detail %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>