<!--
author: Edgar
用户的发帖记录
TODO: 如何显示，显示的具体内容
-->
{% extends 'user/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}发帖记录 {% endblock %}</title>
</head>
<body>
{% block detail %}
发帖记录
    <div>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>帖子主题</th>
                    <th>发帖用户</th>
                    <th>我的回复</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>数据库原理</td>
                    <td>Alice</td>
                    <td>收获很大</td>
                </tr>
                <tr>
                    <td>信号与系统（A类）</td>
                    <td>Bob</td>
                    <td>很难，需要一定的数理基础</td>
                </tr>
                <tr>
                    <td>网络信息安全概论</td>
                    <td>Cinderella</td>
                    <td>概念过多，很繁琐</td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example" style="margin-top:100px;">
		<ul class="pagination justify-content-end">
			<li class="page-item disabled">
			  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">...</a></li>
			<li class="page-item">
			  <a class="page-link" href="#">下一页</a>
			</li>
		</ul>
	</nav>
{% endblock %}


</body>
</html>