<!--
author: Edgar
用户的发帖记录
TODO: 如何显示，显示的具体内容
-->
{% extends 'user/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}发帖记录 {% endblock %}</title>
</head>
<body>
{% block detail %}

    <div>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>帖子主题</th>
                    <th>发帖时间</th>
                    <th>帖子内容</th>
                </tr>
            </thead>
            <tbody>
                {% for post in post_histories %}
                    <tr>
                        <td>{{ post.topic }}</td>
                        <td>{{ post.created_time }}</td>
                        <td>{{ post.content }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example" style="margin-top:100px;">
		<ul class="pagination justify-content-end">
			<li class="page-item disabled">
			  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">...</a></li>
			<li class="page-item">
			  <a class="page-link" href="#">下一页</a>
			</li>
		</ul>
	</nav>
{% endblock %}


</body>
</html>
