<!--
author: Edgar
用户的发帖记录
TODO: 如何显示，显示的具体内容
-->
{% extends 'user/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}发帖记录 {% endblock %}</title>
</head>
<body>
{% block detail %}
发帖记录
    <div class="container" style="margin-top:30px; margin-left:-10px;">
			    <div class="row" style="margin-bottom:20px;">
					<div class="col-sm">帖子主题</div>
					<div class="col-sm">发帖用户</div>
					<div class="col-sm">我的回复</div>
			    </div>
				<div class="row">
					<div class="col-sm">数据库原理</div>
					<div class="col-sm">Alice</div>
					<div class="col-sm">收获很大</div>
				</div>
				<div class="row">
					<div class="col-sm">计算机组成与系统结构</div>
					<div class="col-sm">Cindy</div>
					<div class="col-sm">很难</div>
				</div>
				<div class="row">
					<div class="col-sm">网络信息安全概论</div>
					<div class="col-sm">Demo</div>
					<div class="col-sm">概念很多</div>
				</div>
				<div class="row">
					<div class="col-sm">模拟电子技术</div>
					<div class="col-sm">Elf</div>
					<div class="col-sm">很难</div>
				</div>
				<div class="row">
					<div class="col-sm">信号与系统（A类）</div>
					<div class="col-sm">Gloria</div>
					<div class="col-sm">需要数理基础</div>
				</div>
				<div class="row">
					<div class="col-sm">体育（5）</div>
					<div class="col-sm">tom</div>
					<div class="col-sm">很有趣</div>
				</div>
				<div class="row">
					<div class="col-sm">信号与系统（B类）</div>
					<div class="col-sm">Jeffery</div>
					<div class="col-sm">很难</div>
				</div>
			</div>
{% endblock %}


</body>
</html>