{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}登录{% endblock %}</title>

</head>
<body>
{% block content %}

        <div class="col-5 m-auto">
            <form action="../../user/templates" method="post" style="margin-top: 40%">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" autocomplete="off" autofocus
                           required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" autocomplete="off"
                           required>
                </div>
                <button type="submit" class="btn btn-outline-primary">Login in</button>
                <div class="mt-3">
                    <small class="text-info  mt-4"><a href="{% url 'user:forget' %}" class="card-link" target="_blank"> Forget your
                        password ?</a></small>
                </div>

            </form>
        </div>

{% endblock %}
</body>
</html>