<!--
author: Edgar
登录界面
-->
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}登录{% endblock %}</title>

</head>
<body>
{% block content %}

        <div class="col-5 m-auto">
            <form action="{% url 'user:login' %}" method="post" style="margin-top: 40%">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" autocomplete="off" autofocus
                           required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" autocomplete="off"
                           required>
                </div>
                <input type="hidden" value="{{ request.GET.next }}" name="next">
                <button type="submit" class="btn btn-outline-primary">Login</button>
                <div class="mt-2">
                    <small class="text-info  mt-4"><a href="{% url 'user:forget' %}" class="card-link" target="_blank"> Forget your
                        password ?</a></small>
                </div>

            </form>

        {% if message %}
        <div class="w-100 mt-2 text-center alert-warning alert">{{ message }}</div>
        {% endif %}
        </div>

{% endblock %}
</body>
</html>