{% extends 'user/base.html' %}
<html xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>个人资料修改</title>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

</head>
<body>
{% block detail %}
    <div>

        <form class="layui-form" action="{% url 'user:modify' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

            <div class="layui-input-item" style="margin-top:30px;margin-left:120px;">
                <label class="label-name" for="nick">昵称：</label>
                <div class="layui-input-block layui-inline" style="margin-left:0px;">
                    <input type="text" name="nickname" id="nick"  required lay-verify="required" autocomplete="off"
                           data-validate="require-nick" placeholder="请输入昵称" class="layui-input" value={{ username }}>
                </div>
                <p class="rlf-tip-wrap errorHint color-red"></p>
            </div>

            <div class="wlfg-wrap clearfix" style="margin-top:30px;margin-left:120px;">
                <label class="label-name" for="sex">性别：</label>
                <div class="btn-group open">
                    <select class="btn btn-secondary btn-sm " value='sex' name="sex">
                        <option class="dropdown-item">男</option>
                        <option class="dropdown-item">女</option>
                        <option class="dropdown-item">保密</option>
                        <option class="dropdown-item" selected>不修改</option>
                    </select>
                </div>
                <p class="rlf-tip-wrap errorHint color-red"></p>
            </div>

            <div class="wlfg-wrap clearfix" style="margin-top:30px;margin-left:120px;">
                <label class="label-name" for="college">学院：</label>
                <div class="btn-group open">
                    <select class="btn btn-secondary btn-sm " value='college' name="college">
                        <option>船舶海洋与建筑工程学院</option>
                        <option>机械与动力工程学院</option>
                        <option>电子信息与电气工程学院</option>
                        <option>材料科学与工程学院</option>
                        <option>数学科学学院</option>
                        <option>物理与天文学院</option>
                        <option>化学化工学院</option>
                        <option>生命科学科技学院</option>
                        <option>农业与生物学院</option>
                        <option>安泰经济与管理学院</option>
                        <option>致远学院</option>
                        <option>人文学院</option>
                        <option>马克思主义学院</option>
                        <option>药学院</option>
                        <option>外国语学院</option>
                        <option>航空航天学院</option>
                        <option>凯原法学院</option>
                        <option>媒体与传播学院</option>
                        <option>巴黎高科卓越工程师学院</option>
                        <option>国际与公共事务学院</option>
                        <option>上海交大-南加州大学文化创意产业学院</option>
                        <option>中英国际低碳学院</option>
                        <option>设计学院</option>
                        <option>密西根学院</option>
                        <option>环境科学与工程学院</option>
                        <option>生物医学工程学院</option>
                        <option>其他</option>
                        <option selected>不修改</option>
                    </select>
                </div>
                <p class="rlf-tip-wrap errorHint color-red"></p>
            </div>

            <div class="block" style="margin-top:30px;margin-left:120px;">
                <label class="label-name" for="grade">年级：</label>
                <div class="btn-group open">
                    <select class="btn btn-secondary btn-sm " value='grade' name="grade">
                        <option>大一</option>
                        <option>大二</option>
                        <option>大三</option>
                        <option>大四</option>
                        <option>其他</option>
                        <option>未知</option>
                        <option selected>不修改</option>
                    </select>
                </div>
                <p class="rlf-tip-wrap errorHint color-red"></p>
            </div>

            <div class="block" style="margin-top:30px;margin-left:120px;">
                <label class="label-name" for="nick">修改头像（支持jpg、png格式）：</label>
                <input type="file" name="profile_c" accept=".jpg, .png" >
                <p class="rlf-tip-wrap errorHint color-red"></p>
            </div>

            <div class="block center" style="margin-top:30px;margin-left:120px;">

                <button type="submit" class="layui-btn layui-btn-radius layui-btn-primary">确认修改</button>

            </div>
        </form>

        <script>
            //Demo
            layui.use('form', function(){
              var form = layui.form;

              //监听提交
              form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
              });
            });
        </script>
    </div>



{% endblock %}
</body>
</html>
