{% extends 'user/base.html' %}
<html>
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

</head>
<body>
{% block detail %}
    <div>
         <form action="." method="POST" class="mt-2">
           <a class="card-link" href="javascript:void(0);"
                                   onclick="document.getElementById('profile').hidden=false;">修改头像</a>
         <div class="" hidden id="profile"></div>
         <div class=""></div>
        </form>


        <div class="wlfg-wrap clearfix" style="margin-top:30px;margin-left:120px;">
            <label class="label-name" for="nick">昵称：</label>
            {{ username }}
            <p class="rlf-tip-wrap errorHint color-red"></p>
        </div>

        <div class="wlfg-wrap clearfix" style="margin-top:30px;margin-left:120px;">
            <label class="label-name" for="sex">性别：</label>
            {{ sex }}
            <p class="rlf-tip-wrap errorHint color-red"></p>
        </div>

        <div class="wlfg-wrap clearfix" style="margin-top:30px;margin-left:120px;">
            <label class="label-name" for="college">学院：</label>
            {{ academy }}
            <p class="rlf-tip-wrap errorHint color-red"></p>
        </div>

        <div class="block" style="margin-top:30px;margin-left:120px;">
            <label class="label-name" for="grade">年级：</label>
            {{ grade }}
            <p class="rlf-tip-wrap errorHint color-red"></p>
        </div>

        <div class="block center" style="margin-top:30px;margin-left:120px;">
            <a href="/user/modify">
                <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">修改</button>
            </a>
        </div>

   </div>

{% endblock %}
</body>
</html>
