<!--
author: 祁山青
设置密保
-->
{% extends 'user/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}设置密保{% endblock %}</title>

</head>
<body>
{% block detail %}
        {% if flag %}
            <div class="col-5 m-auto">
            <form action="{% url 'user:setquestion' %}" method="post" style="margin-top: 40%">
                {% csrf_token %}
                 <div class="form-group">
                    <label for="oldquestion">旧密保问题：<br/>{{ oldQuestion }} </label>
                </div>

                <div class="form-group">
                    <label for="oldAnswer">答案</label>
                    <input type="text" class="form-control" id="oldAnswer" name="oldAnswer" autocomplete="off" autofocus
                           required>
                </div>

                <div class="form-group">
                    <label for="newQuestion">新密保问题</label>
                    <input type="text" class="form-control" id="newQuestion" name="newQuestion"  autocomplete="off"
                            required>
                </div>

                <div class="form-group">
                    <label for="newAnswer">答案</label>
                    <input type="text" class="form-control" id="newAnswer" name="newAnswer"  autocomplete="off"
                            required>
                </div>
                <button type="submit" id="btn" class="btn btn-outline-primary text-center">提交
            </button>
            </form>

            {% if message %}
            <div class="w-100 mt-2 text-center alert-warning alert">{{ message }}</div>
            {% endif %}
             </div>
        {% else %}
            <div class="col-5 m-auto">
            <form action="{% url 'user:setquestion' %}" method="post" style="margin-top: 40%">
                {% csrf_token %}
                <div class="form-group">
                    <label for="pwd">密码</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" autocomplete="off"
                           required>
                </div>

                <div class="form-group">
                    <label for="newQuestion">密保问题</label>
                    <input type="text" class="form-control" id="newQuestion" name="newQuestion"  autocomplete="off"
                            required>
                </div>

                <div class="form-group">
                    <label for="newAnswer">密保答案</label>
                    <input type="text" class="form-control" id="newAnswer" name="newAnswer"  autocomplete="off"
                            required>
                </div>
                <button type="submit" id="btn" class="btn btn-outline-primary text-center">提交
            </button>
            </form>

            {% if message %}
            <div class="w-100 mt-2 text-center alert-warning alert">{{ message }}</div>
            {% endif %}
             </div>
        {% endif %}

{% endblock %}
</body>
</html>