{% extends 'user/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} 文件上传 {% endblock %}</title>
</head>
<body>
{% block detail %}
    <div id="file_upload_div" class="text-center">
        <div class="layui-upload-drag" id="file_upload" style="width: 80%">
            <i class="layui-icon"></i>
            <p>点击上传，或将文件拖拽到此处</p>
            <p>仅支持选择单一文件</p>
        </div>
        <div class="mt-2 mb-2" id="file_name"></div>
    </div>
    <div class="layui-row">
        <form class="layui-form layui-col-md6 layui-col-md-offset3  ">
            <div class="layui-form-item">
                <label for="type" class="layui-form-label" style="width: 100px">课程类型: </label>
                <div class="layui-input-block" style="width: 400px">
                    <select id="type" lay-filter="select" name="type" lay-verify="required" lay-search="">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px">文件描述</label>
                <div class="layui-input-block" style="width: 400px">
                    <textarea id="desc" lay-filter="desc" class="layui-textarea" placeholder="在这里给文件添加一些描述"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-col-md4 layui-col-md-offset4">
                <button type="submit" class="layui-btn mt-2  layui-btn-disabled" id="upload" disabled="disabled">上传文件
                </button>
            </div>
        </form>

    </div>
    {% csrf_token %}

{% endblock %}
</body>
{% block back_dependencies %}
    <script>
        // 异步设置课程类型
        // Edgar
        function get_all_course() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "GET",
                    url: "/course/get_all_course",
                    success: (res) => {
                        let html = res.data.map(value => `<option value="${value}">${value}</option>`).join("\n");
                        $("#type").html('<option value=\"\">请选择课程类型</option>' + html);
                        resolve();
                    }
                    , error: (err) => {
                        console.log(err);
                        reject();
                    }
                })
            })
        }
    </script>
    <script>
        get_all_course().then(() => {
            layui.use(['upload', 'form'], function () {
                var upload = layui.upload;
                var form = layui.form;
                let cookies = document.cookie.split(',');
                let pattern = /csrftoken=(.*)/m;
                let csrf;
                for (let j = 0; j < cookies.length; j++) {
                    if (pattern.test(cookies[j])) {
                        csrf = pattern.exec(cookies[j])[1];
                    }
                }
                //执行实例
                var uploadInst = upload.render({
                    elem: '#file_upload' //绑定元素
                    , headers: {
                        "X-CSRFToken": csrf
                    }
                    , auto: false
                    , bindAction: "#upload"
                    , url: '{% url "user:upload" %}' //上传接口
                    , type: "POST"
                    , size: 100 * 1024 // 最大值
                    , accept: "file"

                    , data: {
                        type: function () {
                            return $('select[name="type"]').val();
                        },
                        desc: function () {
                            return $("#desc").val();
                        }
                    }
                    , choose: function (obj) {
                        obj.preview(function (index, file, result) {
                            document.getElementById("file_name").innerHTML = file.name;
                        })
                    }
                    , done: function (res) {
                        layer.msg("上传成功");
                    }
                    , error: function () {
                        layer.msg("上传失败，请重新上传")
                    }
                });

                function check() {
                    if ($("#type").val().trim() !== ""
                        && document.querySelector("#file_upload_div > input").files.length > 0
                        && $("#desc").val().trim() !== "") {
                        document.getElementById("upload").className = "layui-btn mt-2";
                        $("#upload").removeAttr("disabled")
                    }else{
                        document.getElementById("upload").className = "layui-btn mt-2  layui-btn-disabled";
                        $("#upload").disabled = true
                    }
                }

                $("#desc").on("input", () => {
                    check();
                });
                $("#file_upload_div").on("change", () => {
                    check();
                });
                form.on("select(select)", () => {
                    check()
                })

            });
        })
    </script>
{% endblock %}
</html>