{% extends 'user/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>发帖记录 </title>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
{% block detail %}
    <div>
        <table class="layui-table" style="margin-top:-60px; margin-left:190px;">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>帖子主题</th>
                    <th>发帖时间</th>
                    <th>帖子内容</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>数据库原理</td>
                    <td>Alice</td>
                    <td>收获很大</td>
                </tr>
                <tr>
                    <td>信号与系统（A类）</td>
                    <td>Bob</td>
                    <td>很难，需要一定的数理基础</td>
                </tr>
                <tr>
                    <td>网络信息安全概论</td>
                    <td>Cinderella</td>
                    <td>概念过多，很繁琐</td>
                </tr>
            </tbody>
        </table>
    </div>


	
	<nav aria-label="Page navigation example" style="margin-top:100px;">
		<ul class="pagination justify-content-end">
			<li class="page-item disabled">
			  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">...</a></li>
			<li class="page-item">
			  <a class="page-link" href="#">下一页</a>
			</li>
		</ul>
	</nav>

</div>
{% endblock %}
</body>
</html>