{% extends 'base.html' %} {# 这里是搜索帖子结果的界面 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ keyword }}{% endblock %}</title>

</head>
<body>
{% block content %}
    <div style="margin-top: 20px">
        {% if data %}
            {% for data in data %}
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top:5px;">
                    标题：{{ data.topic }}
                    <a href="/course/coursedes/{{ data.id }}" target="_blank">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                                style="float:right;background-color: #f0f6ff">详情>>
                        </button>
                    </a>
                    <hr>
                    所属课程：{{data.course}}<!--发帖时选择的所属课程-->
                    <hr>
                    帖子内容：{{ data.content }}  <!--帖子内容-->
                    <hr>
                    发布时间：{{ data.time|date:"Y-m-d"}} <!--帖子发布时间-->

                </blockquote>

            {% endfor %}
            <div id="page" class="grid-demo grid-demo-bg1" style="float:right">

        {% else %}
            <div class="layui-row">
                <div class="layui-col-md8 layui-col-md-offset2 text-center">
                    <span class="layui-icon layui-icon-tips">没有搜索到相应的内容</span>
                </div>
            </div>
        {% endif %}

        </div>


        <script>
            // 获取url中参数
            function getQueryVariable(variable) {
                let query = window.location.search.substring(1);
                let vars = query.split("&");
                for (let i = 0; i < vars.length; i++) {
                    let pair = vars[i].split("=");
                    if (pair[0] === variable) {
                        return "?" + variable + "=" + pair[1];
                    }
                }
                return false;
            }

            layui.use('laypage', function () {
                var laypage = layui.laypage;

                //执行一个laypage实例
                laypage.render({
                    elem: 'page'
                    , count:{{ total }}//数据总数
                    , curr: {{ curr_page }}
                    , jump: function (obj, first) {
                        if (!first) {
                            location.href = getQueryVariable("keyword") + "&page=" + obj.curr;
                        }
                    }
                })
            });
        </script>


    </div>
{% endblock %}
</body>
</html>
