{% extends 'base.html' %} {# 这里是搜索帖子结果的界面 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ keyword }}{% endblock %}</title>

</head>
<body>
{% block content %}
    <div>
    {% for data in data %}
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top:5px;">
                标题：{{ data.topic }}
                <a href="/course/coursedes/{{ data.id }}" target="_blank">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                            style="float:right;background-color: #f0f6ff">详情>>
                    </button>
                </a>
                    <hr>
                帖子：{{ data.content }}  <!--帖子内容-->
            </blockquote>

    {% endfor %}

    <nav aria-label="Page navigation example" style="margin-top:100px;">
		<ul class="pagination justify-content-end">
			<li class="page-item disabled">
			  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">...</a></li>
			<li class="page-item">
			  <a class="page-link" href="#">下一页</a>
			</li>
		</ul>
	</nav>

    </div>
{% endblock %}
</body>
</html>