{% extends 'base.html' %} {# 这里是搜索帖子结果的界面 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ keyword }}{% endblock %}</title>

</head>
<body>
{% block content %}
    <div>
    {% for data in data %}
                <blockquote class="layui-elem-quote layui-quote-nm">
                标题：{{ data.topic }}
                <a href="/course/coursedes/{{ data.id }}" target="_blank">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                            style="float:right;background-color: #f0f6ff">详情>>
                    </button>
                </a>
                    <hr>
                {{ data.content }}  <!--帖子内容-->
            </blockquote>

    {% endfor %}

    </div>
{% endblock %}
</body>
</html>