{% extends 'base.html' %} {# 这里是搜索课程结果的界面 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ keyword }}{% endblock %}</title>
</head>
<body>
{% block content %}
    <div>
        {% for data in data %}
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top:5px;">
                <!--课程名-->课程：{{ data.name }}
                <a href="/course/coursedes/{{ data.id }}" target="_blank">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                            style="float:right;background-color: #f0f6ff">详情>>
                    </button>
                </a>
                <hr>
                <!--开设学院名-->开设学院：1234
                <hr>
                <!--教师名-->授课教师：{{ data.teacher }}
            </blockquote>
        {% endfor %}
    </div>

    <div id="test1" class="grid-demo grid-demo-bg1" style="float:right">

        <script>
        layui.use('laypage', function(){
            var laypage = layui.laypage;

          //执行一个laypage实例
             laypage.render({
              elem: 'test1',//注意，这里的 test1 是 ID，不用加 # 号
              count: 50 ,//数据总数，从服务端得到
              limit:5
             });
         });
        </script>
    </div>
{% endblock %}

</body>
</html>
