{% extends 'base.html' %} {# 这里是搜索课程结果的界面 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ keyword }}{% endblock %}</title>
</head>
<body>
{% block content %}
    <div style="margin-top: 20px">
        {% for data in data %}
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top:5px;">
                <!--课程名-->课程：{{ data.name }}
                <a href="/course/coursedes/{{ data.id }}" target="_blank">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                            style="float:right;background-color: #f0f6ff">详情>>
                    </button>
                </a>
                <hr>
                <!--开设学院名-->开设学院：{{ data.school }}
                <hr>
                <!--教师名-->授课教师：{{ data.teacher }}
            </blockquote>
        {% endfor %}
    </div>

    <div id="page" class="grid-demo grid-demo-bg1" style="float:right">

        <script>
            function getQueryVariable(variable) {
                let query = window.location.search.substring(1);
                let vars = query.split("&");
                for (let i = 0; i < vars.length; i++) {
                    let pair = vars[i].split("=");
                    if (pair[0] === variable) {
                        return "?" + variable + "=" + pair[1];
                    }
                }
                return false;
            }

            layui.use('laypage', function () {
                var laypage = layui.laypage;

                //执行一个laypage实例
                laypage.render({
                    elem: 'page'
                    , count:{{ total }}//数据总数
                    , curr: {{ curr_page }}
                    , jump: function (obj, first) {
                        if (!first) {
                            location.href = getQueryVariable("keyword") + "&page=" + obj.curr;
                        }
                    }
                })
            });
        </script>
    </div>
{% endblock %}

</body>
</html>
