#box {
                height: 200px;
                background: rgba(255, 255, 255, 0.8);
                box-shadow: 0 0 10px rgba(73, 66, 66, .1);
                margin: 50px auto;
                border: 1px solid #E5E5E5;
            }

            #box dl {
                margin: 10px 20px;
            }

            #box dt {
                float: left;
                color: #8a8a8a;
                font-size: 17px;
            }

            #box dd {
                float: left;
                color: rgba(129, 129, 126, 0.91);
                margin: 0 10px;
                font-size: 17px;
                cursor: pointer;
            }

            #box chosen {
                color: #009688;
                font-weight: bold;
                margin: 2px 10px;
                border: 1px solid #009688;
                height: 25px;
                padding: 0 2px 0 10px;
                border-radius: 3px;
                background-color: #fff;
            }

            .course {
                margin-top: 25px;
                height: 80px;
                width: 1120px;
                border-style: ridge;
                border-color: #E5E5E5;
                box-shadow: 10px 10px 20px rgba(73, 66, 66, .1);
                border-radius: 10px;
                font-size: 17px;
                color: rgba(129, 129, 126, 0.91);
                text-align: center;
                cursor: pointer;
            }

            .course:hover {
                background: rgba(73, 66, 66, .1);
            }

            ul.pagination {
                display: inline-block;
                padding: 0;
                margin-top: 10%;
                margin-left: 490px;

            }

            ul.pagination li {
                display: inline;
            }

            ul.pagination li a {
                color: black;
                padding: 8px 16px;
                text-decoration: none;
                border-radius: 5px;
            }

            ul.pagination li a.active {
                background-color: rgba(129, 129, 126, 0.91);
                color: white;
                border-radius: 5px;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }