<!--
author: Edgar
每一个模板文件的基类， 每个模板都必须继承该文件
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {# 在bootstrap之前引入能够清除对相同元素的样式的干扰 #}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block forward_dependecies %}{# 用来加载依赖文件 #}
    {% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand mr-2" href="/">
            <img class="rounded-circle mr-2" style="height: 35px" src="{% static 'images/sjtu.png' %}"
                 alt="navbar-brand"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if request.path == '/' %}
                        <a class="nav-link active" style="color: #007fff;" href="{% url 'home:index' %}">主页</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'home:index' %}">主页</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.path == '/course/' %}
                        <a class="nav-link active" style="color: #007fff;" href="{% url 'course:index' %}">课程</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'course:index' %}">课程</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.path == '/community/' %}
                        <a class="nav-link active" style="color: #007fff;" href="{% url 'community:index' %}">社区</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'community:index' %}">社区</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.path == '/post/' %}
                        <a class="nav-link active" style="color: #007fff;" href="{% url 'post:index' %}">发帖</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'post:index' %}">发帖</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.path == '/download/' %}
                        <a class="nav-link active" style="color: #007fff;" href="/download">下载</a>
                    {% else %}
                        <a class="nav-link" href="/download/">下载</a>
                    {% endif %}
                </li>
            </ul>
            {% if request.user.is_authenticated %}  {# 如果用户登录了，显示相应的头像等信息 #}
                <div class="form-inline">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ml-0 p-0 m-0" href="javascript:void(0);"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            {% load user_related %}
                            {% if request.user.id|getProfileFromAuthId %}  {# 如果有自定义的头像 #}
                                <img class="rounded-circle " style="width: 40px;height:40px"
                                     src="{{ request.user.id|getProfileFromAuthId }}" alt="profile"
                                     title="{{ request.user.username }}"/>
                            {% else %}  {# 否则使用默认的头像svg #}
                                <svg class="bi bi-people-circle" width="2em" height="2em" viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"></path>
                                    <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z"
                                          clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd"
                                          d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item" href="{% url 'user:profile' %}">个人中心</a>
                            <a class="dropdown-item" href="{% url 'feedback:index' %}">反馈</a>
                            <a class="dropdown-item" href="javascript:void(0);" onclick="logout()">登出</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a class="nav-link nav-item mr-2 p-0" href="{% url 'user:login' %}">登录</a>
                <a class="nav-link nav-item mr-2 p-0" href="{% url 'user:signup' %}">注册</a>
            {% endif %}

        </div>
    </nav>
    {% block content %} {#  用来存放其他的实质性内容 #}
    {% endblock %}
</div>
</body>
<style>
    body .container {
        min-width: 1140px;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
</style>
<script src="{% static 'js/user/logout.js' %}"></script>
{% block back_dependencies %} {# 用来加载需要的依赖文件，比如css， js #}
{% endblock %}
</html>
